body {
        font-family: arial,sans-serif;
        font-size: small;
}

.center {
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
}

/***Google logo*/
img.center{
    display:block;
}


.search {
       text-align: center;
       width: 200px;
       /* border: 1px solid red; */
       }


/***The div*/
#searchWhole2 {
    width: 500px;
    text-align: center;
    width: 40%;
    padding: 10px 30px;
    border: 1px solid lightgray;
    border-radius: 20px;
    margin: 30px auto 0;
    /* Longhand:
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;*/
}

#searchWhole2 img {
    /* How to position the magnifying glass inside the search div. This doesn't do it. Revisit once the text input is the right size.
    position: relative;
    left: 0px;*/
}

/*The form*/
.search2 {
    display: inline;
    /*text-align: center;*/ 
    /*Moves the input box to the middle of the div. But only when it's on a new line, which it won't be. Setting text-align:center on the div itself centers the input box and other elements like the magnify icon, which is workable.*/
}

.search2 input {
    border: none;
}

/*Override browser default input highlighting*/ 
.search2 input:focus {
    outline: none;
}


/*
----
*/


/*Google Search and I'm Feeling Lucky buttons*/
.button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
}

#searchButtons {
    padding-top: 18px;
    text-align: center;
}