/*63 Opacity inheritence*/

body {
        font-family: arial,sans-serif;
        font-size: small;
    margin: 0;
}

.center {
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #000;
    opacity: 0.75;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/***Top bar*/
/*** ******This is broken, trying to do it the google way with different 0-height divs one left one right runs into z-index issues. Use floats instead:
https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black_right
*/

#topOuter {

}

#topOuter:after {
      content:"";
      display: block;
      clear: both;
}
  
  #top1 {
    border: 0px solid red;
    float: left;
    margin: 15px 7px 0 0;
  }

  #top1 a {
      padding-left: 15px;
  }

  

  
  #top2 {
    border: 0px solid pink;
    float: right;
    margin: 15px 0 0 0;
}


  #top2 a {
      padding-left: 15px;
  }

#top2 img {
    opacity:1;
}
  

.signIn {
    background-color: rgb(66,133,244);
    color: #fff;
    font-weight: bold;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    margin-left: 8px;
    padding: 0 10px;
    height: 32px;
}



/***Google logo*/
img.center{
    display:block;
    margin-top: 100px;
}


/***Search box*/

.search {
       text-align: center;
       width: 200px;
       /* border: 1px solid red; */
       }


/***The div*/
#searchWhole2 {
    width: 500px;
    /*text-align: center;*/
    width: 50%;
    padding: 10px 10px;
    border: 1px solid lightgray;
    border-radius: 20px;
    margin: 30px auto 0;
    /* Longhand:
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;*/
}

/*Styling box shadow to make obvious when search box is active*/
#searchWhole2:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

#searchWhole2:focus-within {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

#mag {
    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: -2px;
}

#mic {
    /*///Shunt the postion of the Mic image down slightly. Padding-top doesn't do it, it still sits on the line*/ 
    margin-bottom: -4px;  
}

#mic:hover {
    cursor: pointer;
}

/*The form*/
.search2 {
    display: inline;
    /*text-align: center;*/ 
    /*Moves the input box to the middle of the div. But only when it's on a new line, which it won't be. Setting text-align:center on the div itself centers the input box and other elements like the magnify icon, which is workable.*/
}

.search2 input {
    border: none;
    font-size: 16px;
    /*width: 320px;*/
    width: 85%;
}


/*Override browser default input highlighting*/ 
.search2 input:focus {
    outline: none;
}


/*
----
*/


/*Google Search and I'm Feeling Lucky buttons*/
.button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
}

#searchButtons {
    padding-top: 18px;
    text-align: center;
}

#searchButtons button:hover {
border: 1px solid #bbb;
box-shadow: 0 0.5px 1px 0 rgba(32,33,36,0.28);
cursor: pointer;
}


